#brandpage .ViewArea .itemView .dzzit .cont img{
	height:235px;
}
#brandpage .ViewArea .itemView .Diamond .cont img{
	height:157px;
}
#brandpage .ViewArea .itemView .Dazzle .cont img{
	height:371px;
}