@charset "utf-8";
/* CSS Document */

body{
	background-color:#000;
	width:100%;
	height:100%;}
	
.wrap{
	width:41.875%;
	position:absolute;
	margin:auto 0;
	left:50%;
	margin-left:-20.9375%;
	top:12%;}